* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

html {
  height: 100%;
  --bg: #fcfcfc;
  --bg-panel: #ebebeb;
  --color-headings: #0077ff;
  --color-text: #333333;
}

body {
  width: 100%;
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.mangagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.mangagram-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.mangagram-cover img {
  border-radius: 5px;
  margin-bottom: 30%;
  height: 30rem;
}

.mangagram-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-panel);
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 1rem;
  border: 1px solid var(--bg-panel);
}

.group:nth-child(1) {
  min-height: 10rem;
}

.mangagram-logo {
  height: 3rem;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem;
}

.profile-picture img {
  height: 6rem;
}

.mangagram-login {
  background-color: #0095f6;
  color: white;
  padding: 8px;
  border-radius: 4px;
}

.mangagram-logout {
  color: #0095f6;
  margin-top: 1rem;
}

.not-account {
  color: grey;
}

.link-blue {
  color: #0095f6;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.get-app {
  color: var(--color-text);
}

.download{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url("../img/apple-button.png");
  margin: 1rem;
}

.app-download:nth-child(2) {
  margin: 1rem;

  background-image: url("../img/googleplay-button.png");
}

/* media queries */
@media (max-width: 1024px) {
  .mangagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 650px) {
  body {
    background-color: var(--bg-panel);
  }

  .mangagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    height: 100%;
  }

  .mangagram-cover {
    display: none;
  }

  .mangagram-continue {
    width: 100%;
  }

  .group {
    border: 1px solid transparent;
  }
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: var(--color-headings);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
